* {
  font-family: 'Roboto';
}

.app-container {
  min-height: 100vh;
  background-image: radial-gradient(#fbc7d4, #9796f0);
}

.header {
  min-height: 10vh;
  padding: 5px 30px 5px 30px;
  background-color: #ffffff20;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 5px 10px 5px 20px;
  }
}

.inside-container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

@media screen and (max-width: 767px) {
  .inside-container {
    align-items: flex-start;
  }
}

.emojis-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  padding-left: 10px;
}

@media screen and (max-width: 767px) {
  .emojis-container {
    width: 100%;
  }
}
